.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: italic;
}




/* shared style */
.dark-1{
  color: rgba(14, 14, 14, 1);
}
.btn-bg{
  background-color: rgba(0, 106, 80, 1);
}

/* banner styles */
.header{
  background-color: rgba(198, 228, 214, 1);
  margin: 181px 160px 80px 160px;
  border-radius: 24px;
  max-width: 1280px;
  max-height: 560px;
}
.banner{
  display: flex;
  gap: 64px;
  justify-content: space-between;
}
.banner-content{
  max-width: 622px;
  max-height: 326px;
  padding: 117px 64px 117px 59.99px;
}
.banner-country{
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  letter-spacing: -10%;
  opacity: 100%;
  max-width: 622px;
  max-height: 29px;
}
.banner-title{
  font-size: 56px;
  font-weight: bold;
  max-width: 622px;
  max-height: 201px;
  opacity: 100%;
}
.btn-primary{
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  /* max-width: 202px; */
  /* max-height: 22px; */
}
/* .btn-container{
  max-width: 270px;
  max-height: 56px;
  justify-content: center;
  align-items: center;
} */