
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: italic;
}



/* shared style */
.dark-1{
  color: rgba(14, 14, 14, 1);
}
.dark-2{
  color: rgba(14, 14, 14, 0.7);
}
.dark-3{
  color: rgba(14, 14, 14, 0.8);
}
.dark-4{
  color: rgba(14, 14, 14, 0.6);
}
.btn-bg{
  background-color: rgba(0, 106, 80, 1);
}
.clr-1{
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 8px;
  padding: 11px 20px;
}
.card-btn{
  background-color: rgba(0, 106, 80, 1);
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  padding: 13px 26px;
}

/* banner styles */
.header{
  background-color: rgba(198, 228, 214, 1);
  margin: 81px 160px 80px 160px;
  border-radius: 24px;
  max-width: 1280px;
  max-height: 560px;
}
.banner{
  display: flex;
  gap: 64px;
  justify-content: space-between;
}
.banner-content{
  max-width: 622px;
  max-height: 326px;
  padding: 117px 64px 117px 59.99px;
 
}
#banner-image{
  width: 474px;
  height: 400px;
  margin-top: 80px;
  margin-right: 60px;

}
.banner-country{
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  letter-spacing: -10%;
  opacity: 100%;
  max-width: 622px;
  max-height: 29px;
}
.banner-title{
  font-size: 56px;
  font-weight: bold;
  max-width: 622px;
  max-height: 201px;
  opacity: 100%;
}
.btn-primary{
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
}
/* main styles */
main{
  max-width: 1280px;
  margin: 80px 160px;
}
/* The Vision of Future section styles */

.section-title{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
  max-height: 48px;
}
.section-description{
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  max-height: 48px;
  margin-bottom: 32px;
}
.vision-container{
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center;s */
}
.first-vision{
  background-color: rgba(84, 144, 245, 0.2);
  padding: 32px 32px;
  border-radius: 16px;
  max-width: 410.67px;
  max-height: 325px;
  margin-top: 32px;
  margin-right: 24px;
  margin-bottom: 32px;
}
.second-vision{
  background-color: rgba(198, 228, 214, 1);
  padding: 32px 32px;
  border-radius: 16px;
  margin-top: 32px;
  margin-right: 24px;
  margin-bottom: 32px;
  max-width: 410.67px;
  max-height: 325px;

}
.third-vision{
  background-color: rgba(247, 235, 207, 1);
  padding: 24px 24px;
  border-radius: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  max-width: 410.67px;
  max-height: 325px;
}

.chief-adviser{
  background-image: url("../images/assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position-y:30px;
  background-position-x: 25px;
  background-color:#f7f9f1;
  padding: 48px 24px;
  border-radius: 16px;
  opacity: 100%;
}
/* button styles */
.btn-1{
  background-color: rgba(84, 144, 245, 1);
}

.btn-2{
  background-color: rgba(9, 161, 92, 1);
}

.btn-3{
  background-color: rgba(255, 194, 57, 1);
}

/* news section styles */
.card-primary{
  display: flex;
  background-color:rgb(232, 235, 216);
  margin-top: 32px;
  border-radius: 24px;
}
.news-title{
  margin-top: 80px;
  font-size: 40px;
  font-weight: bold;
}
.news-description{
  margin-top: 24px;
} 
.card-image-primary{
  padding: 48px 32px 48px 48px;
}
.first-image{
  border-radius: 24px;
}
.card-container{
  padding: 56px 48px 56px 0px;
}
.card-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}
.card-secondary{
  display: flex;
  background-color: rgb(232, 235, 216);
  margin-top: 24px;
  border-radius: 24px;
}
.card-container-secondary{
  margin: 56px 32px 56px 48px;
}
.card-image-secondary{
  padding: 48px 48px 48px 0px;
}
.second-image{
  border-radius: 24px;
}